.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  width: 100%;
  height: 100vh;
  padding: 5rem 1rem 3rem;
  position: relative;
  overflow: hidden;
  background: var(--black-5);
}

.imgContainer {
  width: 100%;
  min-width: 288px;
  max-width: 624px;
  flex: 1 0;
}

.imgContainer img {
  width: 100%;
  height: 100%;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 624px;
  gap: 4rem;
  flex: 1 0;
}

.contentContainer h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 37px;
  text-align: center;
  white-space: nowrap;
}

.contentContainer h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  opacity: 0.5;
}

@media screen and (min-width: 569px) {
  .container {
    flex-direction: row; 
    padding: 5rem;
    gap: 2rem;
    justify-content: center;
  }

  .imgContainer {
    flex: auto;
    height: 100%;
    width: 100%;
    min-width: 288px;
  }

  .contentContainer {
    flex: auto;
    align-items: flex-start;
  }

  .contentContainer h1 {
    font-size: 4rem; 
    line-height: 65px;
    text-align: left;
  }   

  .contentContainer h2 {
    font-size: 2rem;
    line-height: 37px;
    text-align: left;
    margin-bottom: 0.5rem;
  }   
}
